/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.container{
    text-align: center;
    margin: 3%;
}
/* riga */
.row{
    margin: 30px;  
}
/* mantiene gli elementi affiancati */
.spazio{
    display: inline-block;
    width: 30%;
}
/* div riferimento elementi absoluto */
.position{
    position: relative;
    width: auto;
    height: auto;  
}
.img{
    width: 100%;
}
/* immagini con la b */
.after{
  display: none;
}
/* responsivita img */
.resizing{
    width: 100%;
    height: auto;
}
/* elemento cuore su img */
.heart{
    font-size: 30px;
    padding: 8px;
    position: absolute;
    top: 17px;
    right: 0;
    background-color:white;
}
/* elemento sconto su img */
.sale{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #eb0037;
    color: white;
    padding: 4px;
}
/* elemnto sostenibilita */
.sostenibilita{
    position: absolute;
    bottom: 20px;
    left: 50px;
    background-color:#00875a;
    color: white;
    padding: 4px;
}
/* elemento sotenibilita img 6 */
.sostenibilita1{
    position: absolute;
    bottom: 20px;
    left: 0;  
    background-color: #00875a;
    color: white;
    padding: 4px;
}
/* posizione del div testo */
.testo{
    position: relative;
    text-align: left;
}
/* prima riga di informazioni capo */
.prima-riga{
    

}
/* seconda riga di informazioni capo */
.seconda-riga{
    font-weight: 600;
}
/* terza riga di informazioni capo */
/* prezzo dopo sconto */
.costo{
    color: red;
}
/* prezzo prima dello sconto */
.costo-barratp{
    text-decoration: line-through;
}
/* elemnti hover */
.position:hover .img{
    display: none;
}
.position:hover .after {
    display: inline-block;
}
